<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
  </head>

  <body>
    Twitter authentication has finished. This page should now pass the
    results back to the main page and close automatically.

    <script type="text/javascript">
    {% if error %}
      window.opener.twitter_connect_error("{{ error }}");
    {% else %}
      window.opener.twitter_connect_success({{ user_id }}, "{{ user_name }}");
    {% endif %}
      window.close();
    </script>
  </body>
</html>
